In [1]:
# Base libraries
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import BASE_COLORS

%matplotlib inline

#warnings
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

In [7]:
credit_df = pd.read_csv("C:\\Users\\San\\Documents\\Mid-Project\\ML-Classification\\Data_Cleaning\Output.csv")

In [8]:
credit_df

,Customer_Number,Offer_Accepted,Card_Type,Mailer_Type,Income,#Bank_Accounts_Open,Overdraft_Protection,Credit_Rating,#Credit_Cards_Held,#Homes_Owned,Household_Size,Own_Your_Home,Average_Balance,Balance_Q1,Balance_Q2,Balance_Q3,Balance_Q4
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669,877,1095,1002
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39,106,78,366
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367,352,145,242
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578,1760,1119,419
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140,1357,982,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17971,17996,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50,136,65,71,398
17972,17997,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50,984,940,943,535
17973,17998,No,Cash Back,Letter,High,1,No,Low,2,1,4,No,1087.25,918,767,1170,1494
17974,17999,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25,626,983,865,1615
17975,18000,No,Cash Back,Letter,Low,2,No,Medium,2,1,3,No,1056.00,265,1378,1978,603